<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637164035487-gt88ipvgmbqrep899q4csiaduh3i5g6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637164035487-gt88ipvgmbqrep899q4csiaduh3i5g6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBGRC3zir7VVsZvE9dldr1H02UUd-bS_us</string>
	<key>GCM_SENDER_ID</key>
	<string>637164035487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.tudelft.etv.app</string>
	<key>PROJECT_ID</key>
	<string>etv-ecosystem</string>
	<key>STORAGE_BUCKET</key>
	<string>etv-ecosystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637164035487:ios:04b62bac80cf07115fb1aa</string>
</dict>
</plist>